/*-- scss:defaults --*/

// variables to change
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

// @import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;

/*-- scss:rules --*/

.bw_table_cells {
    font-size: 0.75rem;
  }
  
  .bw_table_header {
    font-size: 0.65rem;
    text-transform: uppercase;
  }