name: Submit release

on:
  workflow_dispatch:
    inputs:
      date:
        description: 'ISO date string to use in the action.'
        required: false
        default: ''
  push:
    paths:
      - '.github/workflows/nightly_release_submit.yml'
  schedule:
    - cron: '0 14 * * *'

jobs:
  nightly_release_submit:
    uses: ursacomputing/crossbow/.github/workflows/submit.yml@master
    with:
      report_type: release
      date: '${{ inputs.date }}'
    secrets:
      CROSSBOW_GITHUB_TOKEN: ${{ secrets.CROSSBOW_GITHUB_TOKEN }}
