name: Submit packaging

on:
  push:
    paths:
      - '.github/workflows/nightly_packaging_submit.yml'
  schedule:
    - cron: '0 8 * * *'

jobs:
  nightly_packaging_submit:
    uses: ursacomputing/crossbow/.github/workflows/submit.yml@master
    with:
      report_type: packaging
    secrets:
      CROSSBOW_GITHUB_TOKEN: ${{ secrets.CROSSBOW_GITHUB_TOKEN }}
