name: Report release

on:
  workflow_dispatch:
    inputs:
      date:
        description: 'ISO date string to use in the action.'
        required: false
        default: ''

  schedule:
    - cron: '0 20 * * *'

jobs:
  nightly_release_report:
    uses: ursacomputing/crossbow/.github/workflows/report.yml@master
    with:
      report_type: release
      date: '${{ inputs.date }}'
    secrets:
      CROSSBOW_GITHUB_TOKEN: ${{ secrets.CROSSBOW_GITHUB_TOKEN }}
      CROSSBOW_SMTP_USER: ${{ secrets.CROSSBOW_SMTP_USER }}
      CROSSBOW_SMTP_PASSWORD: ${{ secrets.CROSSBOW_SMTP_PASSWORD }}
      CROSSBOW_ZULIP_WEBHOOK: ${{ secrets.CROSSBOW_ZULIP_WEBHOOK }}
      CROSSBOW_SLACK_WEBHOOK: ${{ secrets.CROSSBOW_SLACK_WEBHOOK }}
