name: Generate Performance Release Report

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches: main
    paths:
      - ".github/workflows/performance-release-report.yml"
      - "performance-release-report/performance-release-report.qmd"
  repository_dispatch:
     types: [perf-report]

env: 
    ## payload vars
    BASELINE_GIT_COMMIT: ${{ github.event.client_payload.baseline_git_commit || github.event.inputs.baseline_git_commit }}
    CONTENDER_GIT_COMMIT: ${{ github.event.client_payload.contender_git_commit || github.event.inputs.contender_git_commit }}
    RC_LABEL: ${{ github.event.client_payload.rc_label || github.event.inputs.rc_label || 'manual' }}

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

      - uses: actions/checkout@v3
        with:
          path: crossbow
    
      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.3.450
      
      - name: Setup R 
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.3.1'
          use-public-rspm: true
      
      # Needed due to https://github.com/r-lib/actions/issues/618
      - name: Link renv.lock
        run: ln -sf 'tpch report/renv.lock'

      - name: Setup renv
        uses: r-lib/actions/setup-renv@v2
        env: 
          # This is set by setup-r
          RENV_CONFIG_REPOS_OVERRIDE: ""
        with:
          cache-version: 1
      
      - name: Restore R packages
        shell: Rscript {0}
        run: |
          renv::restore()

      - name: Build Report
        uses: quarto-dev/quarto-actions/render@v2
        working-directory: crossbow/performance-release-report
        with:
            to: html
            path: 'performance-release-report.qmd'

      - name: Upload Rendered Dashboard
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v3
        with:
          name: dashboard
          path: |
            crossbow/performance-release-report/performance-release-report.html
      # - name: Upload result
      #   if: github.event_name == 'push'
      #   working-directory: crossbow
      #   shell: bash
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.CROSSBOW_DOCS_AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.CROSSBOW_DOCS_AWS_SECRET_ACCESS_KEY }}
      #     AWS_DEFAULT_REGION: ${{ secrets.CROSSBOW_DOCS_S3_BUCKET_REGION }}
      #     BUCKET: ${{ secrets.CROSSBOW_DOCS_S3_BUCKET }}
      #   run: |
      #     aws s3 cp index.html $BUCKET/index.html 
