name: Token expiration check

on:
  workflow_dispatch:
    inputs:
      days:
        description: 'Amount of days allowed for token validity.'
        required: true
        default: '30'
        type: string
  schedule:
    # Mondays
    - cron: '0 0 * * 1'

permissions:
  contents: read

jobs:
  token-expiration-check:
    name: Validate token expiration date
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Arrow
        shell: bash
        run: git clone https://github.com/apache/arrow
      - name: Checkout Crossbow
        uses: actions/checkout@v3
        with:
          path: crossbow
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - name: Install Archery
        shell: bash
        run: pip install -e arrow/dev/archery[crossbow]
      - name: Check token expiration
        shell: bash
        env:
          CROSSBOW_GITHUB_TOKEN: ${{ secrets.CROSSBOW_GITHUB_TOKEN }}
        run: |
          echo "Checking whether to notify on token expiration date"
          archery crossbow notify-token-expiration \
            --send \
            --smtp-server 'in-v3.mailjet.com' \
            --sender-name Crossbow \
            --sender-email 'arrow@pitrou.net' \
            --recipient-email 'builds@arrow.apache.org' \
            --smtp-user ${{ secrets.CROSSBOW_SMTP_USER }} \
            --smtp-password ${{ secrets.CROSSBOW_SMTP_PASSWORD }} \
            --days ${{ inputs.days || '30'}}
